@import "core/settings";

body {
  background: url("../images/logo-adalab-80px.png") center center no-repeat $color-white;
  height: 100vh;
}

.container__show {
  background-color: pink;
}

.title__show {
  color: blueviolet;
}

.container__show-selected {
  background-color: blueviolet;
}

.title__show-selected {
  color: pink;
}
