.container__title-page {
  font-family: $raleway;
  font-size: rem(45);
  color: $color-white;
  text-transform: capitalize;
  width: 100vw;
  text-align: center;
  padding-top: rem(50);
  display: flex;
  justify-content: center;
  .fas {
    font-size: rem(40);
  }
}
