.wrapper {
  padding: rem(50) rem(80);
  display: grid;
  grid-gap: rem(10);
  grid-template-columns: repeat(auto-fill, rem(140));
  .search__form {
    grid-column: 1 / 5;
  }
  .result__list {
    grid-column: 3 / 4;
  }
  .fav__container {
    grid-column: 1 / 4;
    grid-row: auto;
  }
}

// Search section
.search__title {
  font-family: $raleway;
  color: $color-white;
  padding-bottom: rem(20);
}
.search__container {
  display: flex;
  align-self: center;
  .search__input {
    padding: rem(5) rem(10);
    width: rem(200);
    font-family: $raleway;
    color: $color-grey;
  }
  .search__button {
    color: $color-white;
    font-family: $raleway;
    font-size: rem(15);
    font-weight: bold;
    text-transform: uppercase;
    background-color: $color-blue;
    letter-spacing: rem(1);
    padding: rem(7);
    border: none;
    border-radius: 5%;
    margin-left: rem(10);
  }
}

// Favorite section
.fav__container {
  margin: rem(50);
  padding-right: rem(20);
  border-right: rem(1) solid $color-grey;
  display: inline-block;
}
.reset {
  display: flex;
  margin-bottom: rem(30);
}
.fav__title {
  color: $color-white;
  font-family: $raleway;
  font-weight: normal;
}
.reset__button {
  color: $color-black;
  font-family: $raleway;
  text-transform: uppercase;
  background-color: $color-grey;
  letter-spacing: rem(1);
  padding: rem(5);
  border: none;
  border-radius: 5%;
  margin-left: rem(70);
}
.fav__list {
  list-style: none;
  .container__show-fav {
    margin-right: rem(10);
    display: grid;
    grid-template-columns: rem(80) auto;
    grid-gap: rem(30);
    margin-bottom: rem(20);
    .title__show-fav {
      @include titleFavStyle;
      .fas {
        margin-left: rem(30);
      }
    }
    .image__show-fav {
      width: rem(80);
    }
  }
}

// Result section
.result__container {
  margin: rem(50);
}
.result__list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: rem(30);
  .container__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(10);
    color: $color-white;
    background-color: $color-black;
    .title__show {
      @include titleStyle;
      padding: rem(10) 0;
    }
  }
  .container__show-selected {
    background-color: $color-blue;
  }
}
