.wrapper {
  padding: rem(50) rem(80);
  display: grid;
  grid-gap: rem(10);
  grid-template-columns: repeat(auto-fill, rem(140));
  .search__form {
    grid-column: 1 / 5;
  }
  .result__list {
    grid-column: 3 / 4;
  }
  .fav__container {
    grid-column: 1 / 4;
    grid-row: auto;
  }
}
